## Измерения для лабораторной работы 4.7.3

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

>### Определение разрешённых направлений поляроидов

In [3]:
display(df[df.columns[0:2]])

   $\phi_1$  $\phi_2$
0       170        50

>### Определение угла Брюстера для эбонита

In [4]:
display(df[df.columns[3:7]])

,${\phi_{\text{Б}}}_1$,${\phi_{\text{Б}}}_2$,${\phi_{\text{БС}}}_1$,${\phi_{\text{БС}}}_2$
0,146,87,145,87

>### Исследование стопы

In [5]:
display(df[df.columns[9:11]])

   $\phi_1 $  $\phi_2 $
0         75        125

>### Определение главных плоскостей двоякопреломляющих пластин

In [6]:
display(df[df.columns[12:14]])

   $\phi_{\text{П1}}$  $\phi_{\text{П2}}$
0                  56                  74

>### Определение направления вращения светового вектора в эллиптически поляризованной волне

In [7]:
display(df[df.columns[15:17]])

      серия 1  серия 2
0  скрещенный      -45