## Измерения для лабораторной работы 4.3.1

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('data.csv')

>### Дифракция Френеля

In [27]:
display(df[df.columns[2:4]][:6].T)
print('Ширина щели {} мм.'.format(df[df.columns[4]].values[0] * 0.02))

             0      1      2      3      4         5
$z$, мм  618.0  621.0  623.0  625.0  626.0     630.0
$m$          1      2      3      4      5  $\infty$

Ширина щели 0.24 мм.

>### Дифракция Фраунгофера на щели

In [28]:
display(df[df.columns[7:9]].T)
print('Фокусное расстояние второй линзы {} мм.'.format(int(df[df.columns[6]][0])))
print('Ширина щели {} мкм.'.format(int(df[df.columns[9]][0])))

          0   1   2   3  4   5   6   7
$x$, дел  8  25  36  52 -8 -24 -36 -53
$m $      1   2   3   4 -1  -2  -3  -4

Фокусное расстояние второй линзы 155 мм.
Ширина щели 312 мкм.

>### Дифракция Фраунгофера на двух щелях

In [29]:
display(df[df.columns[11:16]][:1])

   $\Delta X$, дел  $m  $  $b $, мкм  $b_0$, мкм  $F_1$, мм
0             72.0   20.0      121.0        47.0      110.0

>### Влияние дифракции на разрешающую способность оптического инструмента

In [30]:
display(df[df.columns[19:23]][:1])

   $b_1$, дел  $b_2$, дел  $d$, дел
0         8.0        13.0      63.0