## Измерения для лабораторной работы 4.1.2

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

>### Convergent lenses

In [3]:
display(df[df.columns[:4]])

   $f_1$, мм  $f_2$, мм  $f_3$, мм  $f_4$, мм
0         79        109        195        283
1         79        104        190        283

>### Dispersing lens

In [4]:
display(df[df.columns[5:7]].head(1))

   $a_0$, мм  $l$, мм
0      275.0    205.0

>### Kepler telescope

In [5]:
display(df[df.columns[8:12]].head(1))

   $h_1$, дел  $h_2$, дел  $D_1$, мм  $D_2$, мм
0         0.9         2.4       34.0       13.0

>### Galileo telescope

In [6]:
display(df[df.columns[13:15]].head(1))

   $h_1 $, дел  $h_2 $, дел
0          0.9          3.5

>### Microscope

In [7]:
display(df[df.columns[16:18]].head(1))

   $h_1  $, дел  $h_2  $, дел
0           0.9           3.7